*{
	padding: 0;
	margin: 0;

}

body{
	background-color: azure;
}

.slider{
	display: flex;
	margin-top: 5rem;
	padding-left: 10rem;
	width: 50rem;
	height: 35rem;
	position: relative;
}
img{
	display: flex;
	position: absolute;
	height: 30rem;
	width: 100%;
    opacity: 0;
    transition: opacity .5s;
}

.slider img.active{
    opacity: 1;
}

.next {
	color: #fff;
	font-size: 1.7rem;
	position: absolute;
	top: 50%; 
	transform: translateY(-50%);
	right: 1rem;
}

.precedent {
	color: #fff;
	font-size: 1.7rem;
	position: absolute;
	top: 50%; 
	transform: translateY(-50%);
	left: 1rem;
}